@import ".config/rofi/matugen.rasi"

* {
    rofi-main-bg:        @surface-transparent;
    rofi-second-bg:      @surface;
    rofi-fg:             @on-surface;
    rofi-select-bg:      @primary;
    rofi-separator:      @primary;
    rofi-bg-image:       url("~/.config/matugen/wallpapers/current.jpg", width);

    power-main-bg:       @surface;
    power-second-bg:     @surface-container;
    power-select-bg:     @rofi-select-bg;
    power-fg:            @rofi-fg;

    wall-main-bg:        @surface;
    wall-second-bg:      transparent;
    wall-fg:             @rofi-fg;
    wall-select-bg:      @rofi-select-bg;
}